<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header> 

            <form action="#searchBar" class="searchBar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                <input class="buscador" type="text" placeholder="Buscar productos, marcas">
                <button class="botondebuscar"> lupita</button>
              </form>
       
        <h3 class="compra_en_cuotas"> Comprá en cuotas y sin tarjeta de crédito </h3>

        <nav class="listas"> 
            <ul class="lista_de_ofertas">
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Tiendas oficiales </a></li>
                <li><a href="#"> Vender </a></li>
                <li><a href="#"> Ofertas </a></li>
            </ul>

           <ul class="lista_de_ofertas">
                <li><a href="#"> Creá tu cuenta </a></li>
                <li><a href="#"> Ingresá </a></li>
                <li><a href="#"> Mis compras </a></li>
            </ul>
        </nav>

        <button> aqui va el boton </button>

    </header>

    <section>
    <img src="/images/img-home-banner.jpg" alt="Banner">
    </section>
    
    <section>
        <h4>Basado en tu última visita</h4>
        <article> 
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
            <h4></h4>
            <p>$6.770
                <br> 40% OFF
                <br> Cafetera Moulinex
            </p>
        </article>
    
        <article> 
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <h4></h4>
            <p>$230.000
                <br> 20% OFF
                <br> MacBook Pro 2019
            </p>
        </article>

        <article> 
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
            <h4></h4>
            <p>$70.500
                <br> 10% OFF
                <br> Samsung Galaxy S10
            </p>
        </article>

        <article> 
            <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
            <h4></h4>
            <p>$23.200
                <br> 5% OFF
                <br> SmartTv Samsung 43"
            </p>
        </article>
    </section>

    <section>
        <h4>Sección de Ofertas</h4>
        <article> 
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
            <h4></h4>
            <p>$6.770
                <br> 40% OFF
                <br> Cafetera Moulinex
            </p>
        </article>
    
        <article> 
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <h4></h4>
            <p>$230.000
                <br> 20% OFF
                <br> MacBook Pro 2019
            </p>
        </article>

        <article> 
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
            <h4></h4>
            <p>$70.500
                <br> 10% OFF
                <br> Samsung Galaxy S10
            </p>
        </article>

        <article> 
            <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
            <h4></h4>
            <p>$23.200
                <br> 5% OFF
                <br> SmartTv Samsung 43"
            </p>
        </article>
    </section>

    <footer>
        <section>
            <h4> Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h4> Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <h4> Seguridad, de principio a fin </h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <section>
            <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>

</body>
</html>