* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 12px;
  }

   .top-header {
    padding: 5px;
    display: flex;
    justify-content: center;
  } 
  
   header {
    background-color: #eac926;
  } 
  
  header div.logo {
    width: 100%;
    padding: 2px;

  }

  .logo-bar-container{
    display: flex;
    align-items: center;
  }

  .search-button-container{
    width: 50%;
  }

  header nav {
    font-size: 12px;
  }
  
  header ul li {
    list-style-type: none;
  }
  
  header ul li a {
    text-decoration: none;
    color: #000;
  }
  
  #buscador {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #666;
    padding: 5px;
  }

  header .form .submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  
  header div.top-header h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
  }
  
  div.burger-menu {
    text-align: center;
  }
  
  div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  } 
  
  .los-precios{
    display: flex;

  }

  .price {
    font-size: 18px;
    width: 30%;
  }

  main section article i,
  .discount {
    color: #39b54a;
    width: 70%;
  }
  
  .discount,
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  h3,
  .description {
    color: #666;
  }
  
  .description {
    display: block;
    margin-top: 20px;
  }
  
  section.banner img {
    width: 100%;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  main section article {
    background-color: #fff;
    margin: 10px 0px;
  }

  main section article:hover{
    box-shadow: 2px 2px 2px 2px rgba(20, 20, 20, 0.2);
  }
  
  main section article img {
    width: 100%;
  }
  
  
  main section article i {
    font-size: 16px;
    padding: 5px;
    width: 30px; 
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 17rem;
    top: 48.7rem;
  }
  
  main section h3 {
    margin: 20px 0px;
  }
  
  article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;  
  }


  @media (min-width: 361px) {
    main section article .description {
      display: block;
    }
  
    .top-header{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
    }

    .logo{
      width: 100%;
      background-color: #0044aa;
      padding: 0;
    }

    #logo-mercado-liebre{
      max-width: 80%;
      padding-left: 2rem;
    }

    .form{
      width: 50%;
      display: flex;
      height: 2.5rem;
      margin-top: 10px;
    }

    .compra-en-coutas{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .listas-menu{
      display: none;
    }

  }
  
  @media (min-width: 770px) {
    article{
      width: 40%;
    }

    .product_img{
      height: 15rem;
      width: 15rem;
    }

    .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .products article{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      height: 25rem;
      flex-direction: column;
    }

    #buscador{
      background-color: #fff;
      border: none;
      border-radius: 4px;
      outline: none;
      color: #666;
      padding: 5px;
  }
    
    .compra-en-coutas{
      display: flex;
      width: 10%;
      height: 5rem;
    }

    nav{
      display: flex;
    }

    .listas-menu{
      display: flex;
      margin-bottom: 2rem;
    }

    #lista-uno{
      margin-left: 2rem;
      gap: 1rem;
    }

    #lista-dos{
      display: flex;
      margin-right: 2rem;
      margin-left:auto;
      gap: 1rem;
    }

    .burger-menu{
      display: none;
    }

    
  }

  @media (min-width: 1024px) {
    header{
      padding-left: 50px;
      padding-right: 50px;
    }
    .top-header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo-bar-container{
      width: 70%;
      background-color: #0044aa;
      justify-content: space-between;
    }
    /* .search-button-container{
      width: 30%;
    } */

    .search-button-container , .search-container{
      display: flex;
      justify-content: center;
      background-color: red;
    }

    .search-container{
      width: 100%;
    }

    #buscador{
        background-color: #fff;
        border: none;
        border-radius: 4px;
        outline: none;
        color: #666;
        padding: 5px;
        width: 100%;
    }

    .compra-en-coutas{
      width: 30%;
    }

    article{
      width: 23%;
    }
    .product_img{
      height: 10rem;
      width: 10rem;
    }
    .products{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
    }
    .products article{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-left: .5rem;
      margin-right: .5rem;
      margin-top: 1rem;
      height: 20rem;
      flex-direction: column;
    }
    .price {
      font-size: 18px;
      width: 50%;
    }
  
    .discount {
      color: #39b54a;
      width: 50%;
  }   
}

main form .intereses{
  display: flex;
  flex-direction: column;
}
