* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 12px;
  }
  div.top-header {
    padding: 5%;
  }
  
  header {
    background-color: #eac926;
  }
  
  header div.logo {
    width: 50%;
    padding: 10px;
  }

  header nav {
    font-size: 12px;
  }
  
  header ul li {
    list-style-type: none;
  }
  
  header ul li a {
    text-decoration: none;
    color: #000;
  }
  
  header .form .input {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #666;
    padding: 5px;
  }

  header .form .submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  
  header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  div.burger-menu {
    text-align: center;
  }
  
  div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  
  .los-precios{
    display: flex;

  }

  .price {
    font-size: 18px;
    width: 30%;
  }

  main section article i,
  .discount {
    color: #39b54a;
    width: 70%;
  }
  
  .discount,
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  h3,
  .description {
    color: #666;
  }
  
  .description {
    display: block;
    margin-top: 20px;
  }
  
  section.banner img {
    width: 100%;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  main section article {
    background-color: #fff;
    margin: 10px 0px;
  }
  
  main section article img {
    width: 100%;
  }
  
  
  main section article i {
    font-size: 16px;
    padding: 5px;
    width: 30px; 
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 17rem;
    top: 48.7rem;
  }
  
  main section h3 {
    margin: 20px 0px;
  }
  
  article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
  }
  
  @media (min-width: 361px) {
    main section article .description {
      display: block;
    }
  
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .top-header{
      display: flex;
      flex-wrap: wrap;
    }

    .logo{
      width: 50%;
    }

    .form{
      width: 50%;
      display: flex;
      height: 2.5rem;
      margin-top: 10px;
    }

    .form .input{
      padding: 5rem;

    }
    
    .compra-en-coutas{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .listas-menu{
      display: none;

    }
  }
  
  @media (min-width: 769px) {
    article{
      width: 40%;
    }

    .product_img{
      height: 15rem;
      width: 15rem;
    }

    .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .products article{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      height: 25rem;
      flex-direction: column;
    }

    .logo{
      display:flex;
      height: 5rem;
      margin: 0;
      width: 10%;
    }

    .form{
      width: 30%;
      display: flex;
      height: 2.5rem;
      margin-top: 10px;
    }

    .form .input{
      padding: 5rem;

    }
    
    .compra-en-coutas{
      display: flex;
      width: 10%;
      height: 5rem;
    }

    nav{
      display: flex;
    }

    .listas-menu{
      display: flex;
      margin-bottom: 2rem;
    }

    #lista-uno{
      margin-left: 2rem;
      gap: 1rem;
    }

    #lista-dos{
      display: flex;
      margin-right: 2rem;
      margin-left:auto;
      gap: 1rem;
    }

    .burger-menu{
      display: none;
    }

    
  }

  @media (min-width: 1024px) {
    article{
      width: 23%;
    }
    .product_img{
      height: 10rem;
      width: 10rem;
    }
    .products{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
    }
    .products article{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-left: .5rem;
      margin-right: .5rem;
      margin-top: 1rem;
      height: 20rem;
      flex-direction: column;
    }
    .price {
      font-size: 18px;
      width: 50%;
    }
  
    .discount {
      color: #39b54a;
      width: 50%;
  } 

}